$primary-color: #77D970;
$secondary-color: #FF5CA0;
$tertiary-color: #172774;
$background-overlay: rgba(0, 0 , 0, 0.5);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}


img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:blanchedalmond;
}

@mixin transition-ease {
    transition: all 1s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1500px) {
        @content; 
    }
}