$primary-color: rgb(119, 217, 112);
$secondary-color: rgb(214, 64, 127);
$tertiary-color: rgb(23, 39, 116);
$background-overlay: rgba(0, 0 , 0, 0.5);
$box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:blanchedalmond;
}

@mixin transition-ease {
    transition: all 1s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1500px) {
        @content; 
    }
}