
.homepage {
    width:100%;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-left: -2vh;
    

    &_name {
        margin-top: 27vh;
        height: 33vh;
        width: 80vw;
        box-shadow: $secondary-color 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, $secondary-color 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, $primary-color 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, $secondary-color 30px -30px, $secondary-color 40px -40px 0px -3px, $primary-color 40px -40px;
        color:whitesmoke;
        max-width: 300px;
        max-height: 220px;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color:whitesmoke;
    }

    .social-icons {
        font-size: 5vh;
        position: fixed;
        bottom: 20vh;

        a {
            padding:  0.4rem;
            @include transition-ease;
            
            

            &:hover {
                color:$secondary-color;
            }
        }
        li {
            float: left;
            
          }
          
          li a {
            display: block;
          }
    }
}
