* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blanchedalmond;
}

.homepage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-left: -2vh;
}

.homepage_name {
  margin-top: 27vh;
  height: 33vh;
  width: 80vw;
  -webkit-box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
          box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
  color: whitesmoke;
  max-width: 300px;
  max-height: 220px;
}

.homepage ul {
  list-style-type: none;
}

.homepage a {
  text-decoration: none;
  color: whitesmoke;
}

.homepage .social-icons {
  font-size: 5vh;
  position: fixed;
  bottom: 20vh;
}

.homepage .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.homepage .social-icons a:hover {
  color: #FF5CA0;
}

.homepage .social-icons li {
  float: left;
}

.homepage .social-icons li a {
  display: block;
}

.menu-btn button {
  background-color: transparent;
  font-size: 36px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-top: 5vh;
  margin-left: 78vw;
}

.menu-btn {
  z-index: 999999;
  position: absolute;
}

header {
  position: absolute;
  left: 68vw;
  top: 0;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header.open {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-height: 100vh;
  margin-top: 10vh;
  line-height: 3;
  color: whitesmoke;
  font-size: 5vw;
}

.about {
  margin-top: 5vh;
}

.about .me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: auto;
  gap: 3vh;
  max-width: 90%;
  padding-top: 14vh;
  place-items: center;
}

.about .me img {
  -webkit-box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
          box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -8vw;
}

.about .me p {
  font-size: 4.5vw;
  text-align: justify;
  padding: 3vw;
  color: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  padding: 5vw 1vw 2vw;
}

.about .hard-skills {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: whitesmoke;
  margin-bottom: 2vh;
}

.about .hard-skills h2 {
  margin-top: 2vh;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
}

.about .skill-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  width: 90%;
  margin-top: 4vw;
}

.about .skill-container .skill {
  position: relative;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  font-size: 1.5vw;
  text-align: left;
  background-color: #FF5CA0;
  overflow: hidden;
}

.about .skill-container .skill::before {
  content: '';
  background-color: #404040;
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: 0%;
  left: 50%;
  background-color: #404040;
}

.about .skill-container .skill::after {
  content: '';
  background-color: #404040;
  border-radius: 50%;
  position: absolute;
  background-color: #404040;
}

.about .skill-container .skill-1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about .skill-container .skill-1::after {
  content: 'HTML';
  text-align: center;
  padding: 4.5vw 1vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-1::before {
  -webkit-transform: skewY(-40deg);
          transform: skewY(-40deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.about .skill-container .skill-2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about .skill-container .skill-2::after {
  content: 'CSS&SASS';
  text-align: center;
  padding: 4.5vw 1vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-2::before {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.about .skill-container .skill-3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about .skill-container .skill-3::after {
  content: 'REACT/JS';
  text-align: center;
  padding: 4.5vw 0.1vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-3::before {
  -webkit-transform: skewY(0);
          transform: skewY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.about .skill-container .skill-4 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about .skill-container .skill-4::after {
  content: 'BOOTSTRAP';
  text-align: center;
  padding: 4.5vw 0.1vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-4::before {
  -webkit-transform: skewY(0);
          transform: skewY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.about .skill-container .skill-5 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #404040;
  border: 0.1px solid grey;
}

.about .skill-container .skill-5::after {
  content: 'WORDPRESS';
  text-align: center;
  padding: 4.5vw 0vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-5::before {
  -webkit-transform: skew(25deg, 0deg);
          transform: skew(25deg, 0deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  top: 0%;
  height: 20vw;
  background-color: #FF5CA0;
}

.about .skill-container .skill-6 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #404040;
  border: 0.1px solid grey;
}

.about .skill-container .skill-6::after {
  content: 'PYTHON';
  text-align: center;
  padding: 4.5vw 2vw;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
}

.about .skill-container .skill-6::before {
  -webkit-transform: skew(35deg, 0deg);
          transform: skew(35deg, 0deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  top: 0%;
  height: 20vw;
  background-color: #FF5CA0;
}

.about h2 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  margin-top: 5vh;
}

.about .work {
  width: 80vw;
  margin: 0rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 5vh;
}

.about .work article {
  color: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  padding: 2vw 1vw 2vw;
  border-bottom: 5px solid #FF5CA0;
}

.projects {
  color: whitesmoke;
  margin-top: 10vh;
}

.projects h1 {
  font-size: 7vw;
  padding: 4vw;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vh;
}

.projects h4, .projects p {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  padding: 5vw 0 2vw 0;
}

.projects p {
  font-size: 4.5vw;
  text-align: justify;
  padding: 3vw;
}

.projects .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: auto;
  gap: 5vh;
  max-width: 90%;
}

.projects .cards .article {
  height: 40vh;
  width: 80vw;
  margin-top: 11vw;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
          box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
}

.projects .cards li {
  float: left;
}

.projects .cards li a {
  display: block;
}

.projects .cards .github, .projects .cards .online {
  color: #FF5CA0;
  position: fixed;
  margin-left: 10vw;
  bottom: 1vh;
  z-index: 9999;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.projects .cards .online {
  margin-left: 48vw;
}

.contact {
  height: 35vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5vw;
  margin-top: 32vh;
  -webkit-box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
          box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
  color: whitesmoke;
  max-width: 400px;
  max-height: 290px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.contact h1 {
  font-size: 7vw;
  padding: 5vw;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.contact ul {
  list-style-type: none;
}

.contact a {
  text-decoration: none;
  color: whitesmoke;
}

.contact .social-icons {
  font-size: 5vh;
  position: fixed;
  top: 25vh;
}

.contact .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact .social-icons a:hover {
  color: #FF5CA0;
}

.contact .social-icons li {
  float: left;
}

.contact .social-icons li a {
  display: block;
}

@media screen and (min-width: 1024px) {
  .homepage_name {
    height: 45vh;
    width: 30vw;
  }
  .menu-btn button {
    margin-left: 90vw;
  }
  header {
    left: 80vw;
  }
  header nav ul {
    margin-left: 5vw;
    margin-top: 20vh;
    font-size: 2vw;
  }
  .contact {
    margin: 25vh auto;
    height: 45vh;
    width: 30vw;
  }
  .contact h1 {
    font-size: 1.8vw;
    padding: 2vw 0;
  }
  .contact .social-icons {
    top: 22vh;
  }
  .projects {
    margin-top: 0vh;
  }
  .projects h1 {
    font-size: 2vw;
    margin-bottom: 0vh;
  }
  .projects h4 {
    padding: 1vw 0 1vw 0;
  }
  .projects p {
    font-size: 1.1vw;
  }
  .projects .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: auto;
    gap: 70px;
  }
  .projects .cards .article {
    height: 40vh;
    width: 27vw;
    margin-top: 5vw;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
            box-shadow: #FF5CA0 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #FF5CA0 10px -10px, white 20px -20px 0px -3px, #404040 20px -20px, white 30px -30px 0px -3px, #FF5CA0 30px -30px, #FF5CA0 40px -40px 0px -3px, #404040 40px -40px;
  }
  .projects .cards .github, .projects .cards .online {
    margin-left: 5vw;
  }
  .projects .cards .online {
    margin-left: 17vw;
  }
  .about .me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    max-width: 1200px;
    margin: auto;
    gap: 0px;
  }
  .about .me img {
    margin-top: 5vh;
    margin-left: 2vw;
    height: 200px;
    margin-bottom: 2vh;
  }
  .about .me p {
    font-size: 1.5vw;
    padding: 1vw;
  }
  .about .work {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 64, 64, 0.8)), to(rgba(64, 64, 64, 0))), url("https://cdn.pixabay.com/photo/2017/08/10/02/05/tiles-shapes-2617112_960_720.jpg") center top;
  background: linear-gradient(to top, rgba(64, 64, 64, 0.8), rgba(64, 64, 64, 0)), url("https://cdn.pixabay.com/photo/2017/08/10/02/05/tiles-shapes-2617112_960_720.jpg") center top;
  background-size: cover;
  color: set-text-color(#404040);
  height: 100vh;
  font-family: 'Monserrat', Tahoma, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

h1, h2, h3 {
  font-weight: 400;
  font-size: 3vh;
}

a {
  color: set-text-color(#404040);
  text-decoration: none;
}

.text-secondary {
  color: #FF5CA0;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  font-size: 5vh;
  position: fixed;
  bottom: 10vh;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

main .social-icons a:hover {
  color: #FF5CA0;
}

footer {
  font-size: 1.5vh;
  text-align: right;
  position: relative;
  right: 0;
  bottom: 5vh;
  padding: 0.5vh;
  color: set-text-color(#404040);
}
/*# sourceMappingURL=main.css.map */